@import '../../stylesheets/variables';

.Bio {
  margin-top: 20rem;
  position: relative;

  &__intro {
    margin-top: 12rem;

    p {
      margin-bottom: 3rem;
    }
  }

  &__info {
    color: $orange;
    height: 9rem;
    margin-top: 4rem;
    text-transform: uppercase;
  }

  &__quote {
    position: relative;

    &-icon {
      content: '';
      position: absolute;
      top: 1rem;
      left: 2rem;
      width: 5.5rem;
      height: 4.5rem;
    }

    p {
      margin-bottom: 0;
      font-size: 2.4rem;
      font-weight: 700;
    }
  }
}

@media (max-width: 576px) {
  .Bio {
    margin-top: 0;

    &__intro {
      padding: 2rem;
      margin-top: 2rem;
    }

    &__info {
      margin-top: 0;
      p {
        font-size: 1.8rem;
        text-align: center;
      }
    }

    &__quote {
      &-icon {
        top: -2rem;
      }

      &-row {
        padding-bottom: 6rem;
      }
    }
  }
}
