.Header__row {
  padding: 2rem;
}

.Header__logo {
  margin-top: 4rem;
  width: 34rem;
}

@media (max-width: 576px) {
  .Header {
    background: rgba(255, 255, 255, 0.8);
  }
  .Header__logo {
    margin-top: 0rem;
    width: 34rem;
  }
}
